<div>
    <div class="grid">
        <div class="xl:col-7 lg:col-7 md:col-6 col-12">
            <p class="content">
                The Global Risk program is an APM where providers own the financial risk for all professional and
                institutional services paid for by a health plan, for their patients' care. The physicians are
                accountable for better, more efficient care of their patients. The goal is to provide quality care while
                remaining below budget to maximize profit.
            </p>

            <div class="details-container mt-6">
                <div class="grid">
                    <div class="xl:col-5 lg:col-6 md:col-12 col-12">
                        <div class="section-wrapper">
                            <div class="flex align-items-center">
                                <i class="pi pi-book" style="font-size: 1.5rem; color: var(--icon-primary-color)"></i>
                                <h3 class="title ml-2">General</h3>
                            </div>
                            <table class="cd-info-tables fixed-spacing mt-3" style="width:100%">
                                <tr>
                                    <th>Length of Contract</th>
                                    <td>1 years</td>
                                </tr>
                                <tr>
                                    <th>Each Period Span </th>
                                    <td>Fixed 12 Months</td>
                                </tr>
                                <tr>
                                    <th>Payment Level</th>
                                    <td>Contract</td>
                                </tr>
                                <tr>
                                    <th>Calculation Level</th>
                                    <td>Contract</td>
                                </tr>

                            </table>
                        </div>

                    </div>
                    <div class="xl:col-5 lg:col-6 md:col-12 col-12 xl:col-offset-1">
                        <div class="flex align-items-center">
                            <i class="pi pi-book" style="font-size: 1.5rem; color: var(--icon-primary-color)"></i>
                            <h3 class="title ml-2">Risk Configuration</h3>
                        </div>
                        <table class="cd-info-tables fixed-spacing mt-4" style="width:100%">
                            <tr>
                                <th>Length of Contract</th>
                                <td>1 years</td>
                            </tr>
                            <tr>
                                <th>Each Period Span </th>
                                <td>Fixed 12 Months</td>
                            </tr>
                            <tr>
                                <th>Payment Level</th>
                                <td>Contract</td>
                            </tr>
                            <tr>
                                <th>Calculation Level</th>
                                <td>Contract</td>
                            </tr>

                        </table>
                    </div>
                </div>
            </div>

            <div class="details-container mt-5">
                <div class="flex align-items-center">
                    <i class="pi pi-tag" style="font-size: 1.5rem; color: var(--icon-primary-color)"></i>
                    <h3 class="title ml-2">Tags</h3>
                </div>
                <div class="grid mt-4 tags-wrapper">
                    <div class="xl:col-2 lg:col-3 md:col-12 sm:col-12 col-12">
                        <p class="label">Contract</p>
                    </div>
                    <div class="xl:col-10 lg:col-9 md:col-12 sm:col-12 col-12 flex flex-wrap">
                        <div class="tag">
                            <div class="tag-title">State</div>
                            <div class="tag-body ml-2">Texas</div>
                        </div>
                        <div class="tag">
                            <div class="tag-title">LOB</div>
                            <div class="tag-body ml-2">Medicare</div>
                        </div>
                        <div class="tag">
                            <div class="tag-title">Program</div>
                            <div class="tag-body ml-2">Advanced FFS</div>
                        </div>
                        <div class="tag">
                            <div class="tag-title">Product</div>
                            <div class="tag-body ml-2">HMO</div>
                        </div>
                        <div class="tag">
                            <div class="tag-title">Network</div>
                            <div class="tag-body ml-2">Care Health</div>
                        </div>
                    </div>
                </div>
                <div class="grid mt-1 tags-wrapper">
                    <div class="xl:col-2 lg:col-3 md:col-12 sm:col-12 col-12">
                        <p class="label">Operational</p>
                    </div>
                    <div class="xl:col-10 lg:col-9 md:col-12 sm:col-12 col-12 flex flex-wrap">
                        <div class="tag">
                            <div class="tag-title">Short Name </div>
                            <div class="tag-body ml-2">TX-MLRT</div>
                        </div>
                        <div class="tag">
                            <div class="tag-title">Short Name </div>
                            <div class="tag-body ml-2">TX-MLRT</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="xl:col-offset-1 xl:col-4 lg:col-5 md:col-6 col-12">
            <div class="payment-stream-wrapper">
                <h3 class="title">Payment Streams</h3>
                <table class="text-left" style="width:100%">
                    <tr>
                        <th>Medical Loss Ratio </th>
                        <td>
                            <span><i class="pi pi-cog" style="font-size: 1.2rem; color: #606d7a"></i></span>
                            <span><i class="pi pi-book" style="font-size: 1.2rem; color: #606d7a"></i></span>
                        </td>
                    </tr>
                    <tr>
                        <th>Quality Payments - QIP</th>
                        <td>
                            <span><i class="pi pi-cog" style="font-size: 1.2rem; color: #606d7a"></i></span>
                            <span><i class="pi pi-book" style="font-size: 1.2rem; color: #606d7a"></i></span>
                        </td>
                    </tr>
                    <tr>
                        <th>Quality Payments - SIP</th>
                        <td>
                            <span><i class="pi pi-cog" style="font-size: 1.2rem; color: #606d7a"></i></span>
                            <span><i class="pi pi-book" style="font-size: 1.2rem; color: #606d7a"></i></span>
                        </td>
                    </tr>
                    <tr>
                        <th>Capitation</th>
                        <td>
                            <span><i class="pi pi-cog" style="font-size: 1.2rem; color: #606d7a"></i></span>
                            <span><i class="pi pi-book" style="font-size: 1.2rem; color: #606d7a"></i></span>
                        </td>
                    </tr>
                </table>
            </div>

        </div>
    </div>
</div>