<div>
    <h2 class="headers">Enrollment Selection Rules</h2>
    <div class="grid mt-2">
        <div class="xl:col-6 lg:col-7 md:col-8 sm:col-10 xs:col-12 col-12">
            <div class="flex justify-content-between">
                <p class="table-label">Line of Business (LOB) <span class="ml-3 table-value">Medicaid</span> </p>
                <p class="table-label">Sub LOB <span class="ml-3 table-value">-</span></p>
                <p class="table-label">Product Code <span class="ml-3 table-value">12763, 83639, 63783</span> </p>
            </div>
        </div>
    </div>

    <div class="member-section mt-5">
        <h2 class="headers">Member Selection Rules</h2>

        <div class="grid">
            <div class="xl:col-6">
                <p-table [value]="products" >
                    <ng-template pTemplate="header">
                    </ng-template>
                    <ng-template pTemplate="body" let-product>
                        <tr>
                            <th>{{ product.name }}</th>
                            <td *ngIf="product.value; else template">
                                <i class="pi pi-check" style="font-size: 1rem;color:green"></i>
                            </td>
                            <ng-template #template>
                                <td>
                                    <i class="pi pi-times" style="font-size: 1rem; color: red;"></i>
                                </td>
                            </ng-template >
                        </tr>
                    </ng-template>
                </p-table>
            </div>
            <div class="xl:col-6">

            </div>
        </div>
    </div>
</div>