<div>
    <h2 class="headers">Enrollment Selection Rules</h2>
    <div class="grid mt-2">
        <div class="xl:col-6 lg:col-7 md:col-8 sm:col-10 xs:col-12 col-12">
            <div class="flex justify-content-between">
                <p class="table-label">Line of Business (LOB) <span class="ml-3 table-value">Medicaid</span> </p>
                <p class="table-label">Sub LOB <span class="ml-3 table-value">-</span></p>
                <p class="table-label">Product Code <span class="ml-3 table-value">12763, 83639, 63783</span> </p>
            </div>
        </div>
    </div>

    <div class="member-section mt-5">
        <h2 class="headers">Member Selection Rules</h2>

    </div>
</div>