<div>
    <h2 class="headers">Enrollment Selection Rules</h2>
    <div class="grid mt-2">
        <div class="xl:col-7 lg:col-9 md:col-11 sm:col-12 xs:col-12 col-12">
            <div class="flex justify-content-between flex-wrap">
                <p class="table-label">Line of Business (LOB) <span class="ml-3 table-value">Medicaid</span> </p>
                <p class="table-label">Sub LOB <span class="ml-3 table-value">-</span></p>
                <p class="table-label">Product Code <span class="ml-3 table-value">12763, 83639, 63783</span> </p>
            </div>
        </div>
    </div>

    <div class="member-section mt-5">
        <h2 class="headers ">Member Selection Rules</h2>

        <div class="grid">
            <div class="xl:col-5 lg:col-5 md:col-6 sm:col-12 sm:col-12 col-12">
              
                <div *ngFor="let val of sharedRulesData">
                    <h3 class="sub-headers mt-4 pl-3 mb-3">{{ val.title }} </h3>
                    <p-table class="text-left table-main table-bordered mt-3" [value]="val.data" >
                        <ng-template pTemplate="body" let-data>
                            <tr *ngIf="!data.extra">
                                <th style="width: 70%;" class="table-label pl-3">{{ data.title }}</th>
                                <td *ngIf="data.icon; else content"> 
                                    <i [ngClass]="data.value" class="pi pi-check" style="font-size: 1rem;color:green"></i>
                                </td>
                                <ng-template #content>
                                    <td>
                                        {{ data.value ? data.value : '-' }}
                                    </td>
                                </ng-template>
                            </tr>

                            <ng-template [ngIf]="data.extra">
                                <tr class="detailed-Info">
                                    <th class="table-label pl-3 b-none">{{ data.title }}</th>
                                    <td class="b-none"> 
                                        {{ data.value ? data.value : '-' }}
                                    </td>
                                </tr>
                                <ng-template ngFor let-v [ngForOf]="data.data" >
                                    <tr  class="sub-info sub-info-spacing">
                                        <th class="table-sub-labels b-none"> {{ v.label1 }} </th>
                                        <td class="table-value b-none">Commercial</td>
                                    </tr>
                                </ng-template>

                            </ng-template>

                        </ng-template>
                    </p-table>
                </div>

                
                <!-- <table class="shared-rules-table text-left table-main table-bordered mt-3" style="width: 100%;">
                    <tr>
                        <th class="table-label pl-3">Exclude Members with Overlapping Coverages</th>
                        <td>
                            <i class="pi pi-check" style="font-size: 1rem;color:green"></i>
                        </td>
                    </tr>
                    <tr>
                        <th class="table-label pl-3">Exclude Members with Total Cost over</th>
                        <td><i class="pi pi-times" style="font-size: 1rem; color: red;"></i> </td>
                    </tr>
                    <tr>
                        <th class="table-label pl-3">Exclude Host Members</th>
                        <td> <i class="pi pi-check" style="font-size: 1rem;color:green"></i> </td>
                    </tr>
                    <tr>
                        <th class="table-label pl-3 b-none">Exclude Members with</th>
                        <td class="b-none"> </td>
                    </tr>
                    <tr class="sub-info sub-info-spacing">
                        <th class="table-sub-labels b-none">line of business</th>
                        <td class="table-value b-none">Commercial</td>
                    </tr>
                    <tr class="sub-info sub-info-spacing">
                        <th class="table-sub-labels">Sub Line of Business</th>
                        <td>-</td>
                    </tr>
                    
                    <tr class="sub-info">
                        <th class="b-none table-label pl-3">Exclude Members with Assignment/s to</th>
                        <td class="b-none"> </td>
                    </tr>
                    <tr class="sub-info sub-info-spacing">
                        <th class="table-sub-labels b-none">Market Segment Code</th>
                        <td class="table-value b-none">RET</td>
                    </tr>
                    <tr class="sub-info sub-info-spacing">
                        <th class="table-sub-labels b-none">Funding Type Code</th>
                        <td class="b-none">-</td>
                    </tr>
                    <tr class="sub-info sub-info-spacing">
                        <th class="table-sub-labels">Corporate Entity Code </th>
                        <td>1234, 123456</td>
                    </tr>
                </table> -->
            </div>

            <div class="lg:pl-5 xl:col-5 lg:col-5 md:col-6 sm:col-12 sm:col-12 col-12">
                <!-- customized table -->
                <!-- <table class="text-left table-main table-bordered mt-3" style="width: 100%;">
                    <tr>
                        <th style="width: 70%;" class="table-label table-label pl-3">Attributed Only</th>
                        <td > <i class="pi pi-check" style="font-size: 1rem;color:green"></i> </td>
                    </tr>
                    <tr>
                        <th class="table-label pl-3">Minimum Eligibility</th>
                        <td><i class="pi pi-times" style="font-size: 1rem; color: red;"></i> </td>
                    </tr>
                    <tr>
                        <th class="table-label pl-3">Assigned on This Date</th>
                        <td> <i class="pi pi-check" style="font-size: 1rem;color:green"></i> </td>
                    </tr>
                </table> -->
                <div *ngFor="let val of periodData">
                    <h3 class="sub-headers mt-4 pl-3 mb-3">{{ val.title }} </h3>
                    <p-table class="text-left table-main table-bordered mt-3" [value]="val.data" >
                        <ng-template  pTemplate="body" let-data>
                            <tr>
                                <th style="width: 70%;" class="table-label pl-3">{{ data.title }}</th>
                                <td *ngIf="data.icon; else content"> 
                                    <i [ngClass]="data.value" class="pi pi-check" style="font-size: 1rem;color:green"></i>
                                </td>
                                <ng-template #content>
                                    <td>
                                        {{ data.value ? data.value : '-' }}
                                    </td>
                                </ng-template>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
    </div>
</div>