<div class="detail-lebel">Details</div>
<div class="card">
    <p-table [value]="settlements" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
            <tr>
                <th>Settlements</th>
                <th>Incurred Term</th>
                <th>Total Providers</th>
                <th>Current Members</th>
                <th>Retro Members</th>
                <th>Total Members</th>
                <th>Total Payment</th>
                <th>Previously Paid</th>
                <th>Net Payment</th>
                <th>Net PMPM Payment</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-settlement>
            <!-- <tr *ngFor="let settlement of settlements"> -->
            <tr>                
                <td>
                    <span *ngIf="settlement.totalProviders!=null; else elseBlock">
                        <i class="pi pi-check" style="font-size: 0.5rem;color: green;"></i>
                    </span>
                    <ng-template #elseBlock><i class="pi pi-circle" style="font-size: 0.5rem;"></i></ng-template>
                    <a href=""  class="">{{ settlement.code }}</a>
                </td>
                <td>{{ settlement.incurredTerm }}</td>
                <!-- <span *ngIf="settlement.totalProviders!=null; else elsedata"> -->
                    <td><a class="link">{{ settlement.totalProviders }}</a></td>
                    <td><a class="link">{{ settlement.currentMembers }}</a></td>
                    <td><a class="link">{{ settlement.retroMembers }}</a></td>
                    <td><a class="link">{{ settlement.totalMembers }}</a></td>
                    <td>{{ settlement.totalPayment | currency: 'USD' :'symbol':'3.0'}}</td>
                    <td>{{ settlement.previouslyPaid | currency: 'USD' :'symbol':'3.0'}}</td>
                    <td>{{ settlement.netPayment | currency: 'USD' :'symbol':'3.0'}}</td>
                    <td>{{ settlement.netPMPMPayment | currency: 'USD'  :'symbol':'3.0'}}</td>
                <!-- </span>
                <ng-template #elsedata>
                    <td colspan="8">Data will be available on Date</td>
                </ng-template> -->
            </tr>
        </ng-template>
    </p-table>
</div>