<div class="container">
    <div class="card">
        <p-tabView>
            <p-tabPanel header="Participation Rules ">
                <app-ps-mlrt-participation-rules></app-ps-mlrt-participation-rules>
            </p-tabPanel>
            <p-tabPanel header="Quality & Payment Model">
                Quality & Payment Model
            </p-tabPanel>
            <p-tabPanel header="Financial Benchmarking">
                Financial Benchmarking
            </p-tabPanel>
            <p-tabPanel header="Service Utilization">
                Service Utilization
            </p-tabPanel>
            <p-tabPanel header="Financial Terms">
                Financial Terms
            </p-tabPanel>
            <p-tabPanel header="Settlement Settings ">
                Settlement Settings
            </p-tabPanel>
            <p-tabPanel header="Retrospective Settings ">
                <p>
                    Retrospective Settings
                </p>
            </p-tabPanel>
        </p-tabView>
    </div>
</div>