::ng-deep .pi-plus:before {
    content: "\e90d";
    border: 1px solid black;
    font-size: 6px;
    font-weight: bolder;
    text-align: center;
    padding: 3px;
}

::ng-deep .pi-minus:before {
    content: "\e90f";
    border: 1px solid black;
    font-size: 6px;
    font-weight: bolder;
    text-align: center;
    padding: 3px;
}

::ng-deep .p-datatable .p-datatable-thead > tr > th {
    text-align: center;
    padding: 5px 10px;
    border: 1px solid #c0c7d1;
    border-width: 1px 0 1px 0;
    font-weight: 200;
    font-size: 12px;
    color: #416597;
    background: white;
    transition: box-shadow 0.2s;
}

#firsttwoth {
    width: 15%;
    text-align: left;
    border-top: 3px solid #1975b6;
}

::ng-deep .p-datatable .p-datatable-tbody > tr > td {
    text-align: center;
    border: 1px solid #dee2e6;
    border-width: 0 0 1px 0;
    padding: 10px 0px;
    font-size: 12px;
}

#headSectionth{
    padding: 1px 0px;
}

::ng-deep .p-button.p-button-icon-only {
    width: 2rem;
    padding-right: 0px;
}

::ng-deep .p-tabview .p-tabview-panels {
    background: #ffffff;
    padding: 0px;
    border: 0 none;
    color: #495057;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}

.spTd{
    font-size: 13px;
    display: inline-block;
    padding: 8px 0px;
    font-weight: 600;
}

.tdPartSpan {
    background-color: #bbddf9;
    padding: 5px 10px;
    margin-left: 10px;
    font-size: 11px;
}

