<div class="PS-container container mt-3">
    <div class="flex justify-content-between">
        <div>
            <h1>
                <span>Payment Stream</span>
                MLRT Payment Stream
            </h1>
        </div>
        <div>
            <i class="pi pi-book mr-3" style="font-size: 1.2rem; color: #606d7a"></i>
            <i class="pi pi-times " style="font-size: 1.2rem; color: #606d7a"></i>
        </div>
    </div>
    <div class="grid mt-3">
        <div class="xl:col-6 lg:col-6 md:col-12 sm:col-12 col-12">
            <table style="width:100%">
                <tr>
                    <th style="width:20%">Contact Name</th>
                    <td>Medical Loss Ratio Target - MLRT - Global Risk </td>
                </tr>
                <tr>
                    <th>Contract Type </th>
                    <td>Medical Loss Ratio Target </td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>Use this Payment Stream to design a Condition Based Payment Stream. </td>
                </tr>
            </table>
        </div>
        <div class="xl:col-6 lg:col-6 md:col-12 col-12">
            <table style="width:100%">
                <tr>
                    <th style="width:25%">Payment Level</th>
                    <td>Contract </td>
                </tr>
                <tr>
                    <th>Calculation Level </th>
                    <td>Contract </td>
                </tr>
            </table>
        </div>
    </div>
</div>