.trend-lebel {
    font-weight: bold;
    padding-bottom: 20px;
   
}

.trend-chart {
    min-height: 200px;
    align-items: center;
    padding: 20px;
    border: 2px solid grey;
}

::ng-deep p-chart div canvas{
    height:250px !important;
    width: 98% !important;
}