<div class="container">
    <div class="card">
        <p-tabView>
            <p-tabPanel header="Settlement Details">
                Settlement Details
            </p-tabPanel>
            <p-tabPanel header="Quality Performance">
                Quality Performance Providers
            </p-tabPanel>
            <p-tabPanel header="Providers">
                <app-sdqip-provider-settlementdetails></app-sdqip-provider-settlementdetails>
            </p-tabPanel>
            <p-tabPanel header="Members">
                Members
            </p-tabPanel>
        </p-tabView>
    </div>
</div>