
<p-tabView>
    
    <p-tabPanel header="Medical Loss Ratio Target">
        Medical Loss Ratio Target
    </p-tabPanel>
    <p-tabPanel header="Quality Payments - SIP">
        Quality Payments - SIP 
    </p-tabPanel>
    <p-tabPanel header="Quality Payments - QIP">

            <app-trend></app-trend>   
            <app-details></app-details>   
        
    </p-tabPanel>
    <p-tabPanel header="Capitation">
        <p>
            Capitation
        </p>
    </p-tabPanel>
</p-tabView>

<!-- Chart will go here -->


<!-- Details will go here -->
